{% extends '::ksiazkakucharska.html.twig' %}

{% block container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Książka kucharska</h1>
    <div class="row>">
        <h2>Przepisy</h2>
        {% for przepis in przepisy %}
            <ul>
                <li><a href="{{ path('przepisid', { 'id': przepis.id }) }}">{{ przepis.nazwa }}</a></li>
            </ul>
        {% endfor %}
    </div>
    <div class="row">
        <h2>Kategorie</h2>
    </div>
    <div class="row">
        {% for kategoria in kategorie %}
            <div class="col-xs-3 col-sm-3 placeholder"><img src="{{ asset(kategoria.image) }}"
                                                            width="200" height="200"
                                                            class="img-responsive"
                                                            alt="{{ kategoria.nazwa }}">
                <h4><a href="{{ path('kategoriaid', { 'id': kategoria.id }) }}">{{ kategoria.nazwa|upper }}</a></h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}