<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Ania Symfonuje</title>
</head>
<body>
<div>
    <h1><a href="{{ path('ksiazkakucharska') }}">Książka kucharska</a></h1>
</div>
<div>
    <h2><a href="{{ path('aniazarem') }}">aniazarem</a></h2>
</div>
<div>
    <h2><a href="{{ path('daneform') }}">daneform</a></h2>
</div>
<div>
    <h2><a href="{{ path('kontaktform') }}">kontaktform</a></h2>
</div>
<div>
    <h2><a href="{{ path('app_lucky_number') }}">luckynumber</a></h2>
</div>
<div>
    <h2><a href="{{ path('newform') }}">newform</a></h2>
</div>
<div>
    <h2><a href="{{ path('tabela') }}">tabela</a></h2>
</div>
<div>
    <h2><a href="{{ path('start') }}">twigus</a></h2>
</div>
</body>
</html>