<!DOCTYPE html>
<html>
<head>
    <title>DaneForm</title>
    <meta charset="UTF-8">
    <style TYPE="text/css">
        fieldset {
            width: 10cm;
            border: 1px #FF0000 dotted;
        }
    </style>
</head>
<body>
<fieldset>
    <legend>Dane osobowe</legend>
    {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' }}) }}
    <table border="6">
        <tr>
            <td>
                {{ form_label(form.imie, 'Imię') }}
            </td>
            <td>
                {{ form_widget(form.imie) }}
                {{ form_errors(form.imie) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.nazwisko, 'Nazwisko') }}
            </td>
            <td>
                {{ form_widget(form.nazwisko) }}
                {{ form_errors(form.nazwisko) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.wiek, 'Wiek') }}
            </td>
            <td>
                {{ form_widget(form.wiek) }}
                {{ form_errors(form.wiek) }}
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="zapisz"></td>
        </tr>
    </table>
    {{ form_end(form) }}
</fieldset>

<fieldset>
    <legend>Lista osób</legend>
    <table border="6">
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <script type="text/javascript"></script>
</body>
</html>
