{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Książka kucharska</h1>
        <h2>DANIA GŁÓWNE</h2>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="{{ path('makarony') }}">
                    <img src="{{ asset('images/pasta.jpg') }}"
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                </a>
                <h4>MAKARONY</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="{{ path('miesa') }}">
                    <img src="{{ asset('images/meat.jpg') }}"
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                </a>
                <h4>MIĘSA</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="{{ path('ryby') }}">
                    <img src="{{ asset('images/fish.jpg') }}"
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                </a>
                <h4>RYBY</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="{{ path('zupy') }}">
                    <img src="{{ asset('images/soup.jpg') }}"
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                </a>
                <h4>ZUPY</h4>
            </div>
        </div>
{% endblock %}