{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Książka kucharska</h1>
        <h2>Przepis został zedytowany. <a href="{{ path('dodajprzepis') }}" class="btn btn-primary btn-sm active"
                                          role="button">Powrót</a></h2>
        <div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th width="50">Id</th>
                        <th>Nazwa</th>
                        <th width="200">Składniki</th>
                        <th width="400" style="text-justify: auto">Wykonanie</th>
                        <th width="200">Źródło</th>
                        <th width="50">Uwagi</th>
                        <th>Kategoria</th>
                        <th>Edycja</th>
                        <th>Usunięcie</th>
                    </tr>
                    {% for przepis in przepisy %}
                        <tr>
                            <td>{{ przepis.id }}</td>
                            <td>{{ przepis.nazwa }}</td>
                            <td>{{ przepis.skladniki|nl2br }}</td>
                            <td>{{ przepis.wykonanie }}</td>
                            <td>{{ przepis.zrodlo }}</td>
                            <td>{{ przepis.uwagi }}</td>
                            <td>
                                {% for kategoria in przepis.kategorie %}
                                    {{ kategoria.nazwa|nl2br }}
                                {% endfor %}
                            </td>
                            <td>
                                <form method="post" action="{{ path('edytujprzepis') }}">
                                    <input type="hidden" name="id" value="{{ przepis.id }}">
                                    <input type="submit" value="edytuj">
                                </form>
                            </td>
                            <td>
                                <form method="post" action="{{ path('usunprzepis') }}">
                                    <input type="hidden" name="id" value="{{ przepis.id }}">
                                    <input type="submit" value="usuń">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}