<!DOCTYPE html>
<html>
<head>
    <title>DaneForm</title>
    <meta charset="UTF-8">
    <style TYPE="text/css">
        fieldset {
            width: 10cm;
            border: 1px #FF0000 dotted;
        }

        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
<fieldset>
    <legend>Dane osobowe</legend>
    {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' }}) }}
    {% if form.id is defined %}
        {{ form_widget(form.id) }}
    {% endif %}
    <table border="6">
        <tr>
            <td>
                {{ form_label(form.imie, 'Imię') }}
            </td>
            <td>
                {{ form_widget(form.imie) }}
                <div style="color: red; ">{{ form_errors(form.imie) }}</div>
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.nazwisko, 'Nazwisko') }}
            </td>
            <td>
                {{ form_widget(form.nazwisko) }}
                <div style="color: red; ">{{ form_errors(form.nazwisko) }}</div>
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.wiek, 'Wiek') }}
            </td>
            <td>
                {{ form_widget(form.wiek) }}
                <div style="color: red; ">{{ form_errors(form.wiek) }}</div>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="zapisz"></td>
        </tr>
    </table>
    {{ form_end(form) }}
</fieldset>

{% if isValid == 1 %}
    <fieldset>
        <legend>Lista osób</legend>
        <table border="6">
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Wiek</th>
            </tr>
            <tr>
                <td>id</td>
                <td>{{ osoba.imie }}</td>
                <td>{{ osoba.nazwisko }}</td>
                <td>{{ osoba.wiek }}</td>
            </tr>
        </table>
    </fieldset>
{% endif %}
<fieldset>
    <legend>Lista osób</legend>
    <table border="6">
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
        </tr>
        {% for daneOsobowe in dane %}
            <tr>
                <td>{{ daneOsobowe.id }}</td>
                <td>{{ daneOsobowe.imie }}</td>
                <td>{{ daneOsobowe.nazwisko }}</td>
                <td>{{ daneOsobowe.wiek }}</td>
                <td align="center" colspan="2">
                    <form method="post" action="{{ path('edytuj') }}">
                        <input type="hidden" name="id" value="{{ daneOsobowe.id }}">
                        <input type="submit" value="edytuj">
                    </form>
                </td>

                <td align="center" colspan="2">
                    <form method="post" action="{{ path('usun') }}">
                        <input type="hidden" name="id" value="{{ daneOsobowe.id }}">
                        <input type="submit" value="usuń">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</fieldset>

<script type="text/javascript"></script>
</body>
</html>
