{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Książka kucharska</h1>
        <div class="starter-template">
            <h2>DODAJ KATEGORIE</h2>
        </div>
        {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
        <div>
            <div>
                {{ form_widget(form.nazwa, {'attr': {'placeholder': 'Nazwa *', 'class': 'form-control'}}) }}
                <div style="color: red; ">{{ form_errors(form.nazwa) }}</div>
                {{ form_widget(form.image, {'attr': {'placeholder': 'Zdjęcie *', 'class': 'form-control'}}) }}
                <div style="color: red; ">{{ form_errors(form.image) }}</div>
            </div>
            <div>
                <h3>
                    <button type="submit" class="btn btn-primary btn-sm">Dodaj kategorie</button>
                </h3>
            </div>
            {{ form_end(form) }}

            <fieldset>
                <legend>Lista kategorii</legend>
                <table border="6">
                    <tr>
                        <th>Id</th>
                        <th>Nazwa</th>
                        <th>Zdjęcie</th>
                    </tr>
                    {% for kategoria in kategorie %}
                        <tr>
                            <td>{{ kategoria.id }}</td>
                            <td>{{ kategoria.nazwa }}</td>
                            <td>{{ kategoria.image }}</td>
                            <td align="center" colspan="2">
                                <form method="post" action="{{ path('edytujkategorie') }}">
                                    <input type="hidden" name="id" value="{{ kategoria.id }}">
                                    <input type="submit" value="edytuj">
                                </form>
                            </td>
                            <td align="center" colspan="2">
                                <form method="post" action="{{ path('usunkategorie') }}">
                                    <input type="hidden" name="id" value="{{ kategoria.id }}">
                                    <input type="submit" value="usuń">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </fieldset>
        </div>
    </div>
{% endblock %}