{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Książka kucharska</h1>
        <h2>Kategoria została dodana.   <a href="{{ path('dodajkategorie') }}" class="btn btn-primary btn-sm active" role="button">Powrót</a></h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Edycja</th>
                    <th>Usunięcie</th>
                </tr>
                {% for kategoria in kategorie %}
                    <tr>
                        <td>{{ kategoria.id }}</td>
                        <td>{{ kategoria.nazwa|nl2br }}</td>
                        <td>
                            <form method="post" action="{{ path('edytujkategorie') }}">
                                <input type="hidden" name="id" value="{{ kategoria.id }}">
                                <input type="submit" value="edytuj">
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{ path('usunkategorie') }}">
                                <input type="hidden" name="id" value="{{ kategoria.id }}">
                                <input type="submit" value="usuń">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}